/* Write your CSS here */
.each-todo {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.title {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
  margin-right: 20px;
  color: #000000;
}

.button {
  color: #ff0b37;
  font-family: 'Roboto';
  font-size: 15px;
  background-color: #ffffff;
  border-style: solid;
  border-color: #ff0b37;
  border-radius: 5px;
  min-width: 80px;
  font-weight: bold;
  height: 35px;
}
